*{
    padding: 0;
    margin: 0;
}

body{
   font-family: "Poppins", sans-serif;
}

.Fashion {
    
        margin-top: 0%;
        padding: 5px;
        background-color:  #F2F4F7 ;
        color: #1D232C;
        border-radius: 10px;
        text-decoration:solid;
    
}

.Fashion1 {
    
    margin-top: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 140px;
    background-color:  #1D232C ;
    color: #F2F4F7;
    border-radius: 10px;
    text-decoration:solid;
    text-align: center;

}

.Fashion2 {
    
    margin-top: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 140px;
    background-color:  #1D232C ;
    color: #F2F4F7;
    border-radius: 10px;
    text-decoration:solid;
    text-align: center;

}

.navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

.navbar-links{
    display: flex;
    column-gap: 20px;
}

.navbar-links a{
    text-decoration: none;
    color: #1D232C;
}

.navbar-links a:hover{
    text-decoration: underline;
    color: #1D232C;
}

.navbar-menu-toggle{
    display: none;
}


/*Side Navbar*/

.side-navbar{
    background-color: #1D232C;
    width: 50%;
    height:100%;
    position: fixed;
    top:0;
    left:-60%;
    padding:20px;
    color: white;
    transition: 2s;
    
}

.side-navbar-link{
    margin-bottom: 30px;
}

.side-navbar-links a{
    text-decoration: none;
    color: white;
}

.side-navbar-links a:hover{
    text-decoration: underline;
    
}

/*Header*/

.Header{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    background-color:cadetblue ;
    
}

.Header-button{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 13px;
    background-color: #1D232C;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    position:absolute;
}

.service{
    padding: 20px;
    
    margin-top: 0px;
}

.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2{
    display:flex;
    justify-content: space-around;
    background-color:black ;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}

.service-container-2 div{
    background-color: #F2F4F7;
    border-radius: 5px;
    padding: 10px;
}

.new-arrival{
    display:inline-block;
    margin-left: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 8%;
    
}

.new-arrival-container{
    justify-content: space-between;
    position: relative;
    flex-basis: 20%;
}

.new-arrival button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top:  10px;
    color: #1D232C;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    border: none;
}



.most-wanted{
    display:inline-block;
    margin-left: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 8%;
    border-radius: 10px;
}

.most-wanted-container{
    
    position: relative;
    flex-basis: 20%;
    border-radius: 10px;
}

.most-wanted button{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top:  10px;
    color: #1D232C;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    border: none;
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.news input{
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
}

.news button{
    margin-top: 10px;
    color: #F2F4F7;
    background-color: #1D232C;
    border-radius: 10px;
    padding: 10px;
}

.footer{
    margin-top: 20px;
    padding: 40px;
    background-color: #1D232C;
    color: #F2F4F7;
    
}

.contact{
    margin-top: 30px;
    margin-left: 400px;
    margin-right: 400px;
    padding: 40px;
    background-color: #1D232C ;
    color: #F2F4F7;
    border-radius: 10px;
}

.contact1{
    margin-right: 10px;
}

.name{
      max-width: 1000%;
}

.back-ground{
    background-color:antiquewhite ;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.product-section{
    margin-top: 30px;
    
}

.product-search{
    width: 80%;
    border: solid black 2px;
    
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.product-search input{
    border: none;
    background-image: transparent;
    width: 100%;
}

.product-search input:focus{
    outline: none;
}

.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:antiquewhite ;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
}


p.thick{
    font-weight: bold;
}

.product-box{
    text-align: center;
    flex-basis: 20%;
}

.product-box1{
    text-align: center;
    flex-basis: 20%;
}

.product-box2{
    text-align: center;
    flex-basis: 20%;
}



.product-box img{
    border-radius: 10px;
}

.product-box1 img{
    border-radius: 10px;
}

.product-box2 img{
    border-radius: 10px;
}



.Addtocart{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 100px;
    width: 140px;
    background-color: #1D232C;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}


.Addtocart1{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    width: 140px;
    background-color: #1D232C;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}






/*Register*/

.login{
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    background-color: #1D232C ;
    color: #F2F4F7;
    border-radius: 10px;
}

.Registration{
    text-align: center;
    margin-bottom: 10px;
}



/*Contact*/

.Name{
    width:100%;
    padding: 5px;
}

.Message{
    width:100%;
    padding: 5px;
}

.Number{
    width:100%;
    padding: 5px;   
}

.Email{
    width:100%;
    padding: 5px;   
}

.Password{
    width:100%;
    padding: 5px;   
}
.submit{
    margin-top: 0%;
    padding: 5px;
    background-color:  #F2F4F7 ;
    color: #1D232C;
    border-radius: 10px;
    text-decoration:solid;
}






/* Media Query*/

@media screen and (max-width:700px) {
    .navbar-menu-toggle{
        display: block;
    }

    

    .navbar-links{
        display:none;
    }

    .Header-img{
        display: none;
    }

    .service-container-1{
        display: none;
    }

    .service-container-2{
        flex-direction: column;
    }

    .contact{
        
        margin-left: 50px;
        margin-right: 50px;
    }

    .login{
        margin-left: 50px;
        margin-right: 50px;
    }

    .Addtocart{
        margin-left: 20px;
        margin-right: 20px;
    }

    .Fashion2{
        margin-left: 30px;
        margin-right: 30px;

    }

    .product-box1{
        text-align: center;
        flex-basis: 40%;
    }

    .product-box2{
        text-align: center;
        flex-basis: 20%;
    }



}


    